//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 11 22:09:16 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk_12mhz" LOCATE = SITE "P95" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P140" LEVEL 1;
COMP "DATA_BUS<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "DATA_BUS<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "DATA_BUS<2>" LOCATE = SITE "P134" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "DATA_BUS<3>" LOCATE = SITE "P133" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "DATA_BUS<4>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "DATA_BUS<5>" LOCATE = SITE "P131" LEVEL 1;
COMP "MISO" LOCATE = SITE "P65" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "DATA_BUS<6>" LOCATE = SITE "P127" LEVEL 1;
COMP "sel_disp1" LOCATE = SITE "P115" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "sel_disp2" LOCATE = SITE "P114" LEVEL 1;
COMP "DATA_BUS<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "sel_disp3" LOCATE = SITE "P112" LEVEL 1;
COMP "sig_a" LOCATE = SITE "P119" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "sel_disp4" LOCATE = SITE "P111" LEVEL 1;
COMP "sig_b" LOCATE = SITE "P118" LEVEL 1;
COMP "sig_c" LOCATE = SITE "P117" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "sig_d" LOCATE = SITE "P120" LEVEL 1;
COMP "sig_e" LOCATE = SITE "P121" LEVEL 1;
COMP "SIG_PD" LOCATE = SITE "P116" LEVEL 1;
COMP "sig_f" LOCATE = SITE "P124" LEVEL 1;
COMP "sig_g" LOCATE = SITE "P123" LEVEL 1;
COMP "sck" LOCATE = SITE "P70" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P64" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P139" LEVEL 1;
COMP "cs_DAC" LOCATE = SITE "P100" LEVEL 1;
COMP "reset" LOCATE = SITE "P105" LEVEL 1;
PIN reset_pin<0> = BEL "reset" PINNAME PAD;
PIN "reset_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SLIDE_SW<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "SLIDE_SW<1>" LOCATE = SITE "P9" LEVEL 1;
COMP "SLIDE_SW<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "SLIDE_SW<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "SLIDE_SW<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "SLIDE_SW<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "SLIDE_SW<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "SLIDE_SW<7>" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

