//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 21 11:15:16 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SW" LOCATE = SITE "P105" LEVEL 1;
PIN SW_pin<0> = BEL "SW" PINNAME PAD;
PIN "SW_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "USB_RXD" LOCATE = SITE "P104" LEVEL 1;
COMP "USB_TXD" LOCATE = SITE "P102" LEVEL 1;
COMP "WIFI_RXD" LOCATE = SITE "P41" LEVEL 1;
COMP "WIFI_TXD" LOCATE = SITE "P43" LEVEL 1;
COMP "RELAY" LOCATE = SITE "P97" LEVEL 1;
COMP "TEST_LED<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "TEST_LED<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "TEST_LED<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "TEST_LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "TEST_LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "TEST_LED<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "TEST_LED<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "TEST_LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "WIFI_ENABLE" LOCATE = SITE "P45" LEVEL 1;
COMP "BUZZER" LOCATE = SITE "P94" LEVEL 1;
COMP "CLK_12MHZ" LOCATE = SITE "P95" LEVEL 1;
PIN CLK_12MHZ_pin<0> = BEL "CLK_12MHZ" PINNAME PAD;
PIN "CLK_12MHZ_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RGB_LED<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "RGB_LED<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "RGB_LED<2>" LOCATE = SITE "P7" LEVEL 1;
SCHEMATIC END;

