

NET CLK_12MHZ  LOC = P95  ; 
NET CLK_12MHZ CLOCK_DEDICATED_ROUTE = FALSE;

NET SCK LOC = P70;
NET CS_ADC LOC = P99;
NET ADC_OUT LOC = P64;
NET ADC_IN LOC = P65;




NET RESET  LOC = P105  ; ## sw1
NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;
NET DATA_BUS<0> LOC=P138 ; 
NET DATA_BUS<1> LOC=P137 ;
NET DATA_BUS<2> LOC=P134 ;
NET DATA_BUS<3> LOC=P133 ;
NET DATA_BUS<4> LOC=P132 ;
NET DATA_BUS<5> LOC=P131 ;
NET DATA_BUS<6> LOC=P127 ;
NET DATA_BUS<7> LOC=P126 ;

NET LCD_RS LOC = P140  ;
NET LCD_E LOC = P139  ;						
 
	NET SLIDE_SW<0>  LOC = P5 ; 	
	NET SLIDE_SW<1>  LOC = P9  ;
	NET SLIDE_SW<2>  LOC = P11  ;
	NET SLIDE_SW<3>  LOC = P14  ;
	NET SLIDE_SW<4>  LOC = P16  ;
	NET SLIDE_SW<5>  LOC = P17  ;
	NET SLIDE_SW<6>  LOC = P23  ;
	NET SLIDE_SW<7>  LOC = P24  ; 




NET LED<0> LOC=P26 ; 
NET LED<1> LOC=P22 ;
NET LED<2> LOC=P21 ;
NET LED<3> LOC=P15 ;
NET LED<4> LOC=P12 ;
NET LED<5> LOC=P10 ;
NET LED<6> LOC=P8 ;
NET LED<7> LOC=P2 ;

net StepDrive<3> loc=p142;
net StepDrive<0> loc=p143;
net StepDrive<2> loc=p141;
net StepDrive<1> loc=p144;


