


	NET CLK_12MHZ  LOC = P95  ; 

	NET "lcd_rs" LOC = P140;
	NET "lcd_en" LOC = P139;

	NET "lcd_data[0]" LOC = P138;
	NET "lcd_data[1]" LOC = P137;
	NET "lcd_data[2]" LOC = P134;
	NET "lcd_data[3]" LOC = P133;
	NET "lcd_data[4]" LOC = P132;
	NET "lcd_data[5]" LOC = P131;
	NET "lcd_data[6]" LOC = P127;
	NET "lcd_data[7]" LOC = P126;


	NET "KEY_0" CLOCK_DEDICATED_ROUTE = FALSE;


	NET SIG_A  LOC = P119  ; 
	NET SIG_B  LOC = P118 ; 
	NET SIG_C  LOC = P117; 
	NET SIG_D  LOC = P120 ; 
	NET SIG_E  LOC = P121 ; 
	NET SIG_F  LOC = P124; 
	NET SIG_G  LOC = P123 ; 

	NET SIG_PD  LOC = P116 ; 	 



	NET SEL_DISP1  LOC = P111 ; 
	NET SEL_DISP2  LOC = P112 ;
	NET SEL_DISP3  LOC = P114 ; 
	NET SEL_DISP4  LOC = P115 ; 

			  
	NET LED_RED  LOC = P1 ; 
	NET LED_GREEN  LOC = P6  ; 
	NET LED_BLUE  LOC = P7; 

	NET KEY_0  LOC = P105  ; 
	NET KEY_1  LOC = P101  ; 
	NET KEY_2  LOC = P98  ; 
	NET KEY_3  LOC = P39  ; 

	NET BUZZER  LOC = P94  ; 

	NET RELAY  LOC = P97  ; 

	NET DC_M1  LOC = P143  ; 
	NET DC_M2  LOC = P144  ; 



	NET SLIDE_SW<0>  LOC = P5 ; 	
	NET SLIDE_SW<1>  LOC = P9  ;
	NET SLIDE_SW<2>  LOC = P11  ;
	NET SLIDE_SW<3>  LOC = P14  ;
	NET SLIDE_SW<4>  LOC = P16  ;
	NET SLIDE_SW<5>  LOC = P17  ;
	NET SLIDE_SW<6>  LOC = P23  ;
	NET SLIDE_SW<7>  LOC = P24  ; 	


	NET led<0>  LOC = P26 ; 	
	NET led<1>  LOC = P22  ;
	NET led<2>  LOC = P21  ;
	NET led<3>  LOC = P15  ;
	NET led<4>  LOC = P12  ;
	NET led<5>  LOC = P10  ;
	NET led<6>  LOC = P8  ;
	NET led<7>  LOC = P2  ; 	

