//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 10 22:45:09 2019
//! **************************************************************************

SCHEMATIC START;
COMP "SEL_DISP2" LOCATE = SITE "P112" LEVEL 1;
COMP "SEL_DISP3" LOCATE = SITE "P114" LEVEL 1;
COMP "LCD_DATA<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "SEL_DISP4" LOCATE = SITE "P115" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "P134" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "P133" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "P132" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "P131" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "P127" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "KEY_0" LOCATE = SITE "P105" LEVEL 1;
PIN KEY_0_pin<0> = BEL "KEY_0" PINNAME PAD;
PIN "KEY_0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED_BLUE" LOCATE = SITE "P7" LEVEL 1;
COMP "KEY_1" LOCATE = SITE "P101" LEVEL 1;
COMP "BUZZER" LOCATE = SITE "P94" LEVEL 1;
COMP "KEY_2" LOCATE = SITE "P98" LEVEL 1;
COMP "KEY_3" LOCATE = SITE "P39" LEVEL 1;
COMP "SIG_A" LOCATE = SITE "P119" LEVEL 1;
COMP "SIG_B" LOCATE = SITE "P118" LEVEL 1;
COMP "SIG_C" LOCATE = SITE "P117" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P140" LEVEL 1;
COMP "SIG_D" LOCATE = SITE "P120" LEVEL 1;
COMP "SIG_E" LOCATE = SITE "P121" LEVEL 1;
COMP "SIG_F" LOCATE = SITE "P124" LEVEL 1;
COMP "SIG_G" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "DC_M1" LOCATE = SITE "P143" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "SIG_PD" LOCATE = SITE "P116" LEVEL 1;
COMP "DC_M2" LOCATE = SITE "P144" LEVEL 1;
COMP "LED_RED" LOCATE = SITE "P1" LEVEL 1;
COMP "RELAY" LOCATE = SITE "P97" LEVEL 1;
COMP "SLIDE_SW<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "SLIDE_SW<1>" LOCATE = SITE "P9" LEVEL 1;
COMP "SLIDE_SW<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "SLIDE_SW<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "CLK_12MHZ" LOCATE = SITE "P95" LEVEL 1;
COMP "SLIDE_SW<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED_GREEN" LOCATE = SITE "P6" LEVEL 1;
COMP "SLIDE_SW<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "SLIDE_SW<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "SLIDE_SW<7>" LOCATE = SITE "P24" LEVEL 1;
COMP "LCD_EN" LOCATE = SITE "P139" LEVEL 1;
COMP "SEL_DISP1" LOCATE = SITE "P111" LEVEL 1;
SCHEMATIC END;

