//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 19 21:11:16 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SW" LOCATE = SITE "P105" LEVEL 1;
PIN SW_pin<0> = BEL "SW" PINNAME PAD;
PIN "SW_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "USB_RXD" LOCATE = SITE "P104" LEVEL 1;
COMP "USB_TXD" LOCATE = SITE "P102" LEVEL 1;
COMP "WIFI_RXD" LOCATE = SITE "P41" LEVEL 1;
COMP "SCK" LOCATE = SITE "P70" LEVEL 1;
COMP "WIFI_TXD" LOCATE = SITE "P43" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P139" LEVEL 1;
COMP "DATA_BUS<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "DATA_BUS<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "DATA_BUS<2>" LOCATE = SITE "P134" LEVEL 1;
COMP "DATA_BUS<3>" LOCATE = SITE "P133" LEVEL 1;
COMP "DATA_BUS<4>" LOCATE = SITE "P132" LEVEL 1;
COMP "DATA_BUS<5>" LOCATE = SITE "P131" LEVEL 1;
COMP "DATA_BUS<6>" LOCATE = SITE "P127" LEVEL 1;
COMP "DATA_BUS<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "TEST_LED<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "TEST_LED<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "TEST_LED<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "TEST_LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "TEST_LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "TEST_LED<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "TEST_LED<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "TEST_LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "WIFI_ENABLE" LOCATE = SITE "P45" LEVEL 1;
COMP "ADC_IN" LOCATE = SITE "P65" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P140" LEVEL 1;
COMP "CS_ADC" LOCATE = SITE "P99" LEVEL 1;
COMP "CLK_12MHZ" LOCATE = SITE "P95" LEVEL 1;
PIN CLK_12MHZ_pin<0> = BEL "CLK_12MHZ" PINNAME PAD;
PIN "CLK_12MHZ_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ADC_OUT" LOCATE = SITE "P64" LEVEL 1;
SCHEMATIC END;

